@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


.container {
    background-color: #412567;
    width: 1600px;
    height: 92px;
    display: flex;


}

.first {
    margin-left: 200px;
}

.all {
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 16px;



}

.nav-links {
    display: flex;
    list-style: none;
    gap: 10px;
    text-align: center;
    width: 218px;
    height: 19px;

}

.nav-links a {
    text-decoration: none;
    color: #ffff;
}

.btn {
    width: 134px;
    height: 44px;
    padding: 16px 12px 16px 12px;
    margin-right: 200px;
    gap: 4px;
    border-radius: 10000px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-style: normal;
    color: #ffff;
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);

}

.color {
    background: linear-gradient(90deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}